@import 'breakpoints';
// footer
.footer {
  position: absolute;
  background: #303846;
  height: 120px;
  width: 100%;
  i {
    color: rgb(183, 183, 183);
  }
}

//navbar(navigatino)
.navigation {
  background: #303846;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px 1px rgb(144, 144, 144);
  h1 {
    color: white;
    font-size: clamp(18px, 2vw, 35px);
    span {
      font-size: clamp(15px, 2vw, 23px);
      font-weight: 600;
    }
  }
}


//doctors list
.doctors-container {
  width: 95%;
  max-width: 1100px;
}
.doctors{
  @include md{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
.doctors-header {
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-bottom: 5px;
  justify-content: space-between;
}
.input-box {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  input {
    width: 100%;
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
  }
  i {
    position: absolute;
    left: 5px;
    font-size: 20px;
  }
}
.filters {
  display: flex;
  width: 50%;
  max-width: 500px;
  min-width: 152px;
  @include md {
    display: block;
  }
}
.new-btn {
  background: none;
  outline: none;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: .3s ease;
  &:hover{
    border: 1px solid #00fbff51;
    background: #00fbff51;
  }
  .router-link {
    text-decoration: none;
    color: black;
  }
  i {
    font-size: 15px;
    margin-left: 5px;
  }
}
.sort-box {
  margin-left: 5px;
  @include md{
    margin-top: 5px;
  }
  button {
    margin-left: 10px;
    height: 100%;
  }
}

//doctor card
li {
  @include md {
    flex: 0 0 48%;
  }
  @include sm {
    flex: 0 0 100%;
  }
  .d-card {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    overflow: hidden;
    background-image: url('@/assets/images/card-bg1.png');
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: contain;
    @include md {
      display: inline-block;
      text-align: center;
      background-size: cover;
      min-height: 475px;
    }
    .d-card-avatar {
      width: 100%;
      max-width: 200px;
      min-width: 150px;
      @include md {
        width: 20%;
        margin-top: 10px;
        border-radius: 50%;
      }
    }
    .d-card-rounded-avatar {
      width: 30px;
      border-radius: 50px;
      margin-right: 5px;
      @include md {
        display: none;
      }
    }
    .d-card-informations {
      padding-left: 20px;
      text-align: center;
      @include md {
        min-height: 180px;
      }
      h4 {
        font-weight: 500;
        font-size: 17px;
        i {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
    .d-card-actions {
      padding: 0 20px;
      .comment-label {
        font-size: 14px;
        @include md {
          display: none;
        }
      }
      .comment-input {
        min-width: 80%;
        max-width: 100%;
        width: 90% !important;
        max-height: 100px;
        padding: 5px;
      }
      i{
        cursor: pointer;
      }
    }
    h6 {
      font-weight: 500;
      font-size: 9px;
      padding-right: 10px;
      margin: 5px 0;
      text-align: start;
    }
  }
}

//registeration form
.form {
  width: 90%;
  max-width: 600px;
  background-color: white;
  background-image: url('@/assets/images/card-bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  fieldset {
    border: none;
    &.error {
      input{
        border: 1px solid red;
      }
      p{
        color: red;
      }
    }
    p{
      font-size: 13px;
      font-weight: 300;
      font-style: italic;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    .inp {
      padding: 10px;
      option {
        font-size: 15px;
      }
    }
  }
}
.w-100 {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  .btn {
    padding: 10px 25px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 400;
    transition: all .2s ease;
    background-color: transparent;
    &.success {
      color: #29b36f;
      border-radius: 3px;
      border: 1px solid #29b36f;
      &:hover{
        background-color: #29b36e6a;
        border: 1px solid transparent;
      }
    }
    &.error {
      border-radius: 3px;
      border: 1px solid grey;
      text-decoration: none;
      font-size: 13px;
      color: rgb(77, 77, 77);
      &:hover{
        background-color: rgba(128, 0, 0, 0.229);
        border: 1px solid transparent;
        color: red;
      }
    }
  }
}